.technologyBody {
    background-image: url('/background-technology-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100%;
    color: white;
}


.techArea {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 7rem;
    padding-bottom: 4rem;


}


.technologyBody {
    display: flex;
    flex-direction: column;

}


/* the sides */

.technologyLeft {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 2rem;
    padding-left: 10rem;
}


.headMe h1 {
    flex: 1;
    margin-bottom: 3rem;
    margin-left: 11.5rem;
    margin-top: 3.5rem;
}

.carrySpace {
    flex: 1;
}



.technologyRight {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
}



.technologyContent {
    display: flex;
    gap: 80px;

}


/* BUTTON AREA */

.buttonTech {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    justify-self: flex-start;
}


.techButton {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: solid 1px white;
}


/* image for button */

.imageMg {
    object-fit: cover;
}





/*  this is content area */

.contentTech {
    flex: 1;


}




/* 
text for the termonilogy parts */


.textTech {
    margin-bottom: 1rem;
    margin-top: 1rem;
}


.textHead {
    font-size: clamp(1rem, 5.5rem, 7rem);
    text-wrap: nowrap;
}


.paraTech {
    font-size: clamp(1rem, 1.3rem, 2rem);
    line-height: 2.3rem;
}




.imageScape {
    display: none;
}


.active {
    color: black;
    font-size: 26px;
    font-weight: 700;
    background: white;
}


/* media area */


@media screen and (max-width:968px) {


    .techArea {
        flex-direction: column;
    }

    .technologyContent {
        flex-direction: column;
        justify-content: center;
        padding: 2rem;

    }



    .buttonTech {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;


    }

    /* technology area  */

    .technologyRight {
        order: -1;

    }


    .contentTech {
        order: 1;
        padding: 1rem;


    }

    .buttonTech {
        order: 0;

    }



    /* image area */

    .imageMg {
        display: none;
    }


    .technologyRight {
        width: 100%;
    }

    .imageScape {
        display: block;
        width: 100%;
        margin-left: .1rem;
        object-fit: contain;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }

    /*  */


    .technologyLeft {
        padding-left: 0;
        margin-right: auto;
        margin-left: auto;


    }

}



@media screen and (max-width:569px) {
    .paraTech {
        padding: 3.0rem;
    }

    .textHead {
        font-size: 4.8rem;
        text-align: center;
    }
}