
body{
    background-image: url('/background-crew-desktop.jpg');
    width: 100%;
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    
}


.crew{
    color:white;
    width: 100%;
    height: 100vh;


}

.content{
    display:flex;
    padding:4rem;
    padding-left:10rem;
    padding-right:10rem;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

/* crewProfile */

.crewProfile{
    display: flex;


}

.crewBioPro{
    flex:2;
   
}


.crewPic{
    flex:1;
    width:100%;
    position: relative;
    justify-self: flex-start;
}


.crewBio{
    width:80%;
    font-size:clamp(15px,24px,26px);
    
}

.imageMe{
    position:relative;
    top:-200px;
    height:800px;
    width:800px;

   

  
   
}



/* the crew font sizez */


.hugeMeet{
    font-size:3rem;
    margin-top:3.4rem;
    margin-bottom:4.2rem;
}
.crewRole{
    font-size:2.5rem;
}


.crewName{
    font-size:5rem;
}


.crewNavigation{
    display:flex;
    justify-content: flex-start;
    margin-top:4rem;
    gap:20px;
}

.crewNavigation .button{
    height:20px;
    width:20px;
    background:rgba(208,214,249,0.3);
    border-radius:50%;

}

.crewNavigation .button:hover{
    height:20px;
    width:20px;
    background:rgba(208,214,249,1);
    border-radius:50%;

}



.active{
    background:white;
}