.bodyImage {
    background-image: url('/background-crew-desktop.jpg');
    background-size: cover; /* Ensures the image covers the entire container */
    background-repeat: no-repeat; /* Prevents tiling */
    overflow:hidden;
    height:min-content;

}




.crew {
    color: white;
  



}

.content {
    display: flex;
    padding: 4rem;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-bottom:9rem;
    justify-content:space-evenly;
    align-items: center;
    
}

/* crewProfile */

.crewProfile {
    display: flex;


}

.crewBioPro {
    flex: 2;

}


.crewPic {
    flex: 1;
    width: 100%;
    position: relative;
    justify-self: flex-start;
}


.crewBio {
    width: 80%;
    font-size: clamp(15px, 24px, 26px);
    position:relative;

}

.imageMe {
    position:absolute;
    top: -170px;
    height: 800px;
    width: 800px;





}



/* the crew font sizez */


.hugeMeet {
    font-size: 3rem;
    margin-top: 3.4rem;
    margin-bottom: 4.2rem;
}

.crewRole {
    font-size: 2.5rem;
}


.crewName {
    font-size: 5rem;
}


.crewNavigation {
    display: flex;
    justify-content: flex-start;
    margin-top: 4rem;
    gap: 20px;
}

.crewNavigation .button {
    height: 20px;
    width: 20px;
    background: rgba(208, 214, 249, 0.3);
    border-radius: 50%;

}

.crewNavigation .button:hover {
    height: 20px;
    width: 20px;
    background: rgba(208, 214, 249, 1);
    border-radius: 50%;

}



.active {
    background: white;
}



@media screen and (max-width:968px){


    .bodyImage {
        background-image: url('/background-crew-tablet.jpg');
        background-size: cover; /* Ensures the image covers the entire container */
        background-repeat: no-repeat; /* Prevents tiling */
        overflow:hidden;
        height:min-content;
    
    }


    
    .content{
        padding-bottom:0;
        margin-bottom:0;
    }


    .crewProfile{
        flex-direction:column;
    }

    .crewPic{
        order:1;
       height:1000px;
       margin-top:4rem;

    }

    .imageMe{
        position: initial;
        width:700px;
        height:700%;
        margin-top:auto;
    }

    .crewBio{
        order:-1;
    }
}





@media screen and (max-width:568px){


    .bodyImage {
        background-image: url('/background-crew-mobile.jpg');
        background-size: cover; /* Ensures the image covers the entire container */
        background-repeat: no-repeat; /* Prevents tiling */
        overflow:hidden;
        height:min-content;
    
    }


    .crewProfile{
        flex-direction:column;
        justify-items:center;
        
    }

    .crewPic{
        order:-1;
    }

    .imageMe{
        position: initial;
    }

    .crewBio{
        order:1;
        justify-items:center;
    }
}