

.body{
    background-image:url('/background-destination-desktop.jpg');
    width:100%;
    height:min-content;
}



/*  the content area */


.contentPlanet{
    display:flex;
    color:white;
    margin-top:3rem;
    padding:2rem;
    justify-content: space-around;
    
    
}


.planetImage{
    height:400px;
    width:400px;
    align-self:center;
    
}

/* the pages Content */

.planetLeft{
    display:flex;
    flex-direction:column;
    flex:1;

    background-color:blue;
}

.hone{
    font-size:30px;
}

.planetImage{
    margin-top:4rem;
}


.planetBio{
    flex:1;
    
    background-color:red;
}


.buttons{
    display:flex;
    gap:20px;
}